.nav-root {
  background-color: white;
  border-bottom: 2px solid rgb(228, 228, 228);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-root-invisible {
  position: static;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
}

.nav-child {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: baseline;

  padding: 0.75rem;
  padding-bottom: 0;
  width: 80%;
  margin: auto;
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  margin-bottom: 0.75rem;
}

.name-container {
  margin-bottom: 0.75rem;
  margin-right: 1rem;
}

h2 {
  display: inline;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.first-name {
  color: var(--color-3);
}

.last-name {
  color: var(--color-1);
}

a {
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
  /* text-transform: uppercase; */
}

@media (width < 902px) {
  .nav-list {
    gap: 1.25rem;
  }

  .nav-list {
    flex-direction: column;
  }
}
