<!-- Templates -->
<ng-template #navToggleBtnOpen>
  <div class="toggle-navbar-button-parent">
    <button class="toggle-navbar-button" (click)="toggleNavbar()"><i class="bi bi-list"></i></button>
  </div>
</ng-template>

<ng-template #navToggleBtnClose>
  <div class="toggle-navbar-button-parent">
    <button class="toggle-navbar-button" (click)="toggleNavbar()"><i class="bi bi-x-lg"></i></button>
  </div>
</ng-template>

<!-- Navbar -->
<header>
  <nav>
    <div class="nav-root">
      <div class="nav-row">
        <div class="name-container">
          <h2 class="first-name">Kim Niklas</h2>
          <h2 class="last-name">Schl&uuml;ter</h2>
        </div>

        <!-- Nav Toggle Button  -->
        @if (isSmallScreen) { @if (collapsed) {
        <ng-container *ngTemplateOutlet="navToggleBtnOpen"></ng-container>
        } @else {
        <ng-container *ngTemplateOutlet="navToggleBtnClose"></ng-container>
        } } @else {
        <!-- Nav List Desktop -->
        @if (!isSmallScreen) {
        <div class="nav-list">
          <a (click)="scrollToSectionCloseNavbar(''); ">Home</a>
          <a (click)="scrollToSectionCloseNavbar('about'); ">About me</a>
          <a (click)="scrollToSectionCloseNavbar('projects'); ">Projects</a>
          <a (click)="scrollToSectionCloseNavbar('career'); ">Career</a>
          <a (click)="scrollToSectionCloseNavbar('education'); ">Education</a>
          <a (click)="scrollToSectionCloseNavbar('skills'); ">Skills</a>
          <a (click)="scrollToSectionCloseNavbar('contact'); ">Contact me</a>
        </div>
        } }
      </div>

      <!-- Nav List Mobile -->
      @if (isSmallScreen && !collapsed) {
      <div [@navExpand] class="nav-expand-outer">
        <div class="nav-list">
          <a (click)="scrollToSectionCloseNavbar(''); ">Home</a>
          <a (click)="scrollToSectionCloseNavbar('about'); ">About me</a>
          <a (click)="scrollToSectionCloseNavbar('projects'); ">Projects</a>
          <a (click)="scrollToSectionCloseNavbar('career'); ">Career</a>
          <a (click)="scrollToSectionCloseNavbar('education'); ">Education</a>
          <a (click)="scrollToSectionCloseNavbar('skills'); ">Skills</a>
          <a (click)="scrollToSectionCloseNavbar('contact'); ">Contact me</a>
        </div>
      </div>
      }
    </div>
  </nav>
</header>
