<!-- Templates -->
<ng-template #navLinks>
  <a (click)="toggleNavbar()" href="#">Home</a>
  <a (click)="toggleNavbar()" href="#about">About me</a>
  <a (click)="toggleNavbar()" href="#projects">Projects</a>
  <a (click)="toggleNavbar()" href="#work-experience">Career</a>
  <a (click)="toggleNavbar()" href="#education">Education</a>
  <a (click)="toggleNavbar()" href="#skills">Skills</a>
  <a (click)="toggleNavbar()" href="#contact">Contact me</a>
</ng-template>

<ng-template #navToggleBtnOpen>
  <button class="toggle-navbar-button" (click)="toggleNavbar()"><i class="bi bi-list"></i></button>
</ng-template>

<ng-template #navToggleBtnClose>
  <button class="toggle-navbar-button" (click)="toggleNavbar()"><i class="bi bi-x-lg"></i></button>
</ng-template>

<!-- Navbar -->
<header>
  <nav>
    <div class="nav-root">
      <div class="nav-child">
        <div class="name-container">
          <h2 class="first-name">Kim Niklas</h2>
          <h2 class="last-name">Schl&uuml;ter</h2>
        </div>

        <div class="nav-list">
          @if (isSmallScreen) { @if (collapsed) {
          <ng-container *ngTemplateOutlet="navToggleBtnOpen"></ng-container>
          } @else {
          <ng-container *ngTemplateOutlet="navLinks"></ng-container>
          <ng-container *ngTemplateOutlet="navToggleBtnClose"></ng-container>
          } } @else {
          <ng-container *ngTemplateOutlet="navLinks"></ng-container>
          }
        </div>
      </div>
    </div>
  </nav>
</header>
