<div class="root">
  <div class="container">
    <h2>Projects</h2>
    <hr />
    <div class="projects-container">
      <!-- Loop through project list -->
      @for (project of projectList; track project.id) {
      <div class="project" (mouseenter)="onMouseEnter(project.id)" (mouseleave)="onMouseLeave()">
        <img [src]="'/portfolio/images/projects/' + project.imageFilename" alt="Image of {{ project.name }}" />
        <div class="project-body">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description }}</p>

          <!-- Features -->
          @if (project.features.length > 0) {
          <h4>Features</h4>
          <ul class="feature-list">
            @for (feature of project.features; track $index) {
            <li>{{ feature }}</li>
            }
          </ul>
          }

          <!-- Technologies -->
          @if (project.technologies.length > 0) {
          <h4>Technologies</h4>
          <ul class="technologies-list">
            @for (tech of project.technologies; track $index) {
            <li>{{ tech }}</li>
            }
          </ul>
          }
        </div>

        <!-- On mouse hover: Show Links -->
        <div class="project-hover-area" [ngClass]="{
            'project-hover-area-active': project.id === mouseHoverProjectId,
            'project-hover-area-hidden': project.id !== mouseHoverProjectId
            }">
          @if (project.appLink) {
          <a href="{{ project.appLink }}" target="_blank" class="project-link">
            <i class="bi bi-window"></i>
            <p>App</p>
          </a>
          }
          <a href="{{ project.gitHubLink }}" target="_blank" class="project-link">
            <i class="bi bi-github"></i>
            <p>GitHub</p>
          </a>
        </div>
      </div>
      }
    </div>
  </div>
</div>