.root {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 4rem 2rem;
  background-color: var(--color-bg-contact);
  background-image: url("/images/background/meeting-0.jpg");
  background-position-y: top;
  background-size: cover;

  .panel {
    background-color: var(--color-bg-contact-panel);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    flex-basis: auto;
    max-width: 28rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    transition: all 0.2s ease-in-out;

    .panel-title,
    .panel-text {
      text-align: center;
      margin: 0;
    }

    .contact-links-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      .element-container {
        .bi {
          font-size: 2.5rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

a,
a:visited {
  color: rgb(19, 43, 83);
  transition: all 0.2s ease-in-out;
}

@media (width > 576px) {
  a:hover {
    color: rgb(44, 95, 183);
    transform: scale(1.25);
    transition: all 0.2s ease-in-out;
  }

  .panel:hover {
    transform: scale(1.1);
  }
}
