<div class="root">
  <div class="container">
    <h2>Skills</h2>
    <hr />
    <div class="skills-container">
      @for (skill of skills; track $index) {
      <div class="skill">
        <h3
          [ngClass]="{
            'bg-beginner': skill.level === SkillLevel.Beginner,
            'bg-intermediate': skill.level === SkillLevel.Intermediate,
            'bg-advanced': skill.level === SkillLevel.Advanced}"
        >
          {{ skill.name }}
        </h3>
        <div class="skill-body">
          <h4>{{ skill.level }}</h4>
          <ul>
            @for (info of skill.infoList; track $index) {
            <li>{{ info }}</li>
            }
          </ul>
          @if (skill.projectIds.length > 0) {
          <h5>Projects</h5>
          <ul>
            @for (projectId of skill.projectIds; track $index) { @let project = getProjectById(projectId); @if (project) {
            <a href="{{ project.gitHubLink }}" target="_blank"><li>{{ project.name }}</li></a>
            } }
          </ul>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
