.root {
  background-color: var(--color-bg-skills);
}

.skills-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem 0;
}

.skill {
  flex-basis: 18rem;
  background-color: var(--color-bg-skills-card);
  margin-bottom: 0;
  border: 1px solid rgba(93, 93, 93, 0.5);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.skill:hover {
  transform: scale(1.1);
}

h5 {
  margin-top: 1rem;
}

@media (width < 902px) {
  .skills-container {
    flex-flow: row wrap;
    justify-content: center;
  }
}
