.root {
  background-color: var(--color-bg-skills);
}

.skills-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem 0;
}

.skill {
  flex-basis: 16rem;
  background-color: var(--color-bg-skills-card);
  margin-bottom: 0;
  border: 1px solid rgba(93, 93, 93, 0.5);
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

h3 {
  padding: 0.5rem 0 0.5rem 1rem;
}

.skill-body {
  padding-left: 1rem;
}

h5 {
  margin-top: 1rem;
}

.bg-beginner {
  background-color: var(--color-1);
}

.bg-intermediate {
  background-color: var(--color-2);
}

.bg-advanced {
  background-color: var(--color-3);
}

@media (width > 576px) {
  .skill:hover {
    transform: scale(1.1);
  }
}

@media (width < 902px) {
  .skills-container {
    justify-content: center;
  }
}
