.career-entry {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.career-entry-date {
  flex-basis: 15rem;
  font-size: 1.25rem;
}

.career-entry-description {
  flex-basis: 50rem;
}

ul {
  margin-bottom: 1.5rem;

  li {
    margin-bottom: 0.5rem;
  }
}

.company-name {
  margin-bottom: 1rem;
}

.list-title {
  margin-top: 1rem;
}
