<div class="career-entry">
  <div class="career-entry-date">
    <p>{{ entry.startDate }} - {{ entry.endDate }}</p>
  </div>
  <div class="career-entry-description">
    <h4>{{ entry.title }}</h4>
    <h5 class="company-name">
      <a href="{{ entry.companyUrl }}" target="_blank">
        <span>{{ entry.companyName }}</span>
      </a>
      <span> / {{ entry.location }}</span>
    </h5>

    <ul>
      @for (desc of entry.descriptionList; track $index) {
      <li>{{ desc }}</li>
      }
    </ul>

    <h5 class=".list-title">Technologies</h5>
    <ul>
      @for (tech of entry.technologies; track $index) {
      <li>{{ tech }}</li>
      }
    </ul>

    <h5 class=".list-title">Links</h5>
    <ul>
      @for (product of entry.products; track $index) {
      <li><a href="{{ product.url }}" target="_blank">{{ product.name }}</a></li>
      }
    </ul>
  </div>
</div>
